/* This code is only meant for previewing your Reflow design. */
.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    background-image:url("img/Vector%20Smart%20Object.png");
    background-repeat: no-repeat;
    -webkit-background-size: auto;
    background-size: auto;
}

#box1 {
    float: left;
    height: 480px;
    margin-left: 14.666074%;
    margin-top: 33px;
    clear: both;
    width: 70.665365%;
    border-top-color: rgb(255, 0, 0);
    border-right-color: rgb(255, 0, 0);
    border-bottom-color: rgb(255, 0, 0);
    border-left-color: rgb(255, 0, 0);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    background-image:url("img/tumblr_nmiomhpZGO1u9f3xto1_1280.jpg");
    background-position: 50% 50%;
    background-repeat: repeat;
    background-attachment: scroll;
    -webkit-background-size: 120.68000030517578%;
    background-size: 120.68000030517578%;
}

#text {
    float: left;
    font-size: 30px;
    width: 8.533654%;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 16px;
    margin-left: 6.303564%;
    margin-top: 46px;
    clear: both;
    min-height: 37px;
    font-family: 'Gill Sans';
}

#text1 {
    float: left;
    font-size: 30px;
    width: 10.933581%;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 16px;
    margin-left: 8.173077%;
    margin-top: 48px;
    clear: none;
    min-height: 37px;
    font-family: 'Gill Sans';
    margin-right: 0%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#text2 {
    float: left;
    font-size: 30px;
    width: 11.861152%;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 16px;
    margin-left: 7.022105%;
    margin-top: 48px;
    clear: none;
    min-height: 37px;
    font-family: 'Gill Sans';
    margin-right: 0%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#text3 {
    float: left;
    font-size: 30px;
    width: 16.71065%;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 16px;
    margin-left: 5.024561%;
    margin-top: 47px;
    clear: none;
    min-height: 37px;
    font-family: 'Gill Sans';
    margin-right: 0%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#text4 {
    float: left;
    font-size: 1em;
    width: 70.06689%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: 15.865385%;
    margin-top: 23px;
    clear: both;
    min-height: 66px;
}

#textspan {
    float: none;
    font-size: 40px;
    line-height: 1em;
    font-family: 'Gill Sans';
}

#input {
    float: left;
    height: 39px;
    font-size: 1em;
    margin-left: 5.65949%;
    margin-top: 18px;
    clear: none;
    width: 12.876254%;
}

#text5 {
    float: left;
    font-size: 20px;
    width: 70.666545%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 14.666074%;
    margin-top: 49px;
    clear: both;
    min-height: 100px;
    font-family: arial;
}

#textspan1 {
    float: none;
    font-size: 24px;
    line-height: 1em;
}

#textspan2 {
    float: none;
    font-size: 18px;
    line-height: 1em;
}

#box {
    float: left;
    height: 118px;
    margin-left: 10.90092%;
    margin-top: 0px;
    clear: none;
    width: 10.503763%;
    margin-right: 0%;
    border-top-color: rgb(125, 239, 206);
    border-right-color: rgb(125, 239, 206);
    border-bottom-color: rgb(125, 239, 206);
    border-left-color: rgb(125, 239, 206);
    border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
}

