/* This code is only meant for previewing your Reflow design. */
.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
}

#input {
    float: left;
    height: 39px;
    font-size: 1em;
    margin-left: 5.61038%;
    margin-top: 44px;
    clear: none;
    width: 12.876254%;
    display: block;
}

#text {
    float: left;
    font-size: 30px;
    width: 8.533654%;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 16px;
    margin-left: 6.25%;
    margin-top: 46px;
    clear: both;
    min-height: 37px;
    font-family: 'Gill Sans';
    display: block;
    color: rgb(246, 173, 200);
}

#text1 {
    float: left;
    font-size: 30px;
    width: 10.933581%;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 16px;
    margin-left: 8.40301%;
    margin-top: 42px;
    clear: none;
    min-height: 37px;
    font-family: 'Gill Sans';
    margin-right: 0%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: block;
}

#text2 {
    float: left;
    font-size: 30px;
    width: 11.861152%;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 16px;
    margin-left: -24.667609%;
    margin-top: 42px;
    clear: none;
    min-height: 37px;
    font-family: 'Gill Sans';
    margin-right: 0%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: block;
}

#text3 {
    float: left;
    font-size: 30px;
    width: 14.954052%;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 16px;
    margin-left: -8.003559%;
    margin-top: 47px;
    clear: none;
    min-height: 36px;
    font-family: 'Gill Sans';
    margin-right: 0%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: block;
}

#text4 {
    float: left;
    font-size: 1em;
    width: 70.06689%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: 15.814751%;
    margin-top: 32px;
    clear: both;
    min-height: 66px;
    display: block;
}

#textspan3 {
    float: none;
    font-size: 40px;
    line-height: 1em;
    font-family: 'Gill Sans';
    color: rgb(239, 133, 125);
}

#box1 {
    float: left;
    height: 473px;
    margin-left: 14.61474%;
    margin-top: 26px;
    clear: both;
    width: 70.665365%;
    border: 1px solid rgb(255, 0, 0);
    display: block;
    background-image:url("img/tumblr_nmiomhpZGO1u9f3xto1_1280.jpg");
    background-attachment: scroll;
    -webkit-background-size: 121%;
    background-size: 121%;
    background-position: 50% 50%;
    background-repeat: repeat repeat;
}

#text5 {
    float: left;
    font-size: 20px;
    width: 70.666545%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 14.612123%;
    margin-top: 49px;
    clear: both;
    min-height: 100px;
    font-family: arial;
    display: block;
}

#textspan4 {
    float: none;
    font-size: 24px;
    line-height: 1em;
    color: rgb(239, 133, 125);
}

#textspan5 {
    float: none;
    font-size: 18px;
    line-height: 1em;
    color: rgb(239, 133, 125);
}

#textspan {
    float: none;
    font-size: 1em;
    line-height: 1em;
    color: rgb(246, 173, 200);
}

#textspan1 {
    float: none;
    font-size: 1em;
    line-height: 1em;
    color: rgb(246, 173, 200);
}

#textspan2 {
    float: none;
    font-size: 1em;
    line-height: 1em;
    color: rgb(246, 173, 200);
}

#image2 {
    float: left;
    width: auto;
    max-width: 25.600459%;
    height: auto;
    margin-left: 8.530936%;
    margin-top: 96.65625px;
    clear: both;
    color: rgb(0, 0, 0);
}

#image3 {
    float: left;
    width: auto;
    max-width: 25.642768%;
    height: auto;
    margin-left: 2.817987%;
    margin-top: 96.65625px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0%;
}

#image4 {
    float: left;
    width: auto;
    max-width: 20.799801%;
    height: auto;
    margin-left: 3.820025%;
    margin-top: 82.25px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0%;
}

#box {
    float: left;
    height: 118px;
    margin-left: 10.158863%;
    margin-top: 0px;
    clear: none;
    width: 10.503763%;
    margin-right: 0%;
    border: 5px solid rgb(125, 239, 206);
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    display: block;
}

#image1 {
    float: left;
    width: auto;
    height: auto;
    margin-left: 101.421371%;
    margin-top: -334px;
    clear: none;
    color: rgb(0, 0, 0);
    max-width: 7.475265%;
}

#image {
    float: left;
    width: auto;
    max-width: 9.119818%;
    height: auto;
    margin-left: 23.300094%;
    margin-top: -88px;
    clear: none;
    color: rgb(0, 0, 0);
}

