@import url(http://fonts.googleapis.com/css?family=Righteous|Roboto);
.header_up {
    background-color: white;
    display: table;
    height: 130px;
    position: absolute;
    z-index: 100;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.bh {
    font-family: 'Stalemate', cursive;
    font-size: 75pt;
    color: #ee857d;
}


.tw_icon img {
    float: right;
    margin-right: 165px;
    width: 50px;
    margin-top: -75px;
}
.fb_icon img {
    float: right;
    margin-right: 105px;
    width: 50px;
    margin-top: -75px;
}
.email_icon img {
    float: right;
    margin-right: 45px;
    width: 50px;
    margin-top: -75px;
}
.sign img {
    margin-top: 15px;
    float: left;
    width: 140px;
    margin-left: 6%;
}
body {
    display: table;
    position: absolute;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.container {
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
/*----header style----*/

header {
    background-color: white;
    height: 180px;
    position: fixed;
    text-align: center;
    -webkit-transition: 1s ease;
    width: 100%;
    z-index: 100;
}
@charset "UTF-8";
nav {
    color: #fff;
    font-family: 'Kreon', serif;
    font-size: 30px;
    list-style-type: none;
    margin-top: 160px;
}
nav ul {
    margin: 0;
    padding: 0;
}
.navlist {
    background: #fff;
    float: left;
    font-family: 'Kreon', serif;
    height: 50px;
    position: relative;
    display: block;
    color: #333333;
    width: 25%;
    margin-top: 10px;
}
.navlist:hover {
    color: #7defce;
}

@media (min-width:850px){
.bh a {
    margin-left: -20%;
}}
@media (max-width:850px){
.bh a {
    margin-left: -26%;
}}
@media (min-width: 700px) {
    .mobile-nav {
        display: none;
    }
}
@media (max-width: 700px) {
    .icons_2,
    .sign,
    .menu_header {
        display: none;
    }
    .header_up {
        background-color: white;
        display: table;
        height: 60px;
        position: absolute;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    .bh {
        float: left;
        margin-left: 30%;
        margin-top: 40%;
        font-size: 60pt;
        font-family: 'Stalemate', cursive;
        color: #ee857d;
    }
    .bh a {
        margin-left: -5%;
    }
    .caption {
        position: absolute;
        top: 800px;
        width: 100%;
        padding: 0.5em;
        background: rgba(255, 255, 255, 0.75);
        z-index: 1;
        -webkit-transition: -webkit-transform 0.3s ease-in-out;
    }
    
}
.menu-btn {
    margin-top: 300px;
    margin-left: 15px;
}
.menu-btn div {
    position: absolute;
    left: 100%;
    top: 64%;
    padding-right: 8px;
    margin-top: -0.50em;
    line-height: 1.2;
    font-size: 18px;
    font-weight: 200;
    vertical-align: middle;
    z-index: 99;
}
.menu-btn span {
    margin-top: 300px;
    display: block;
    width: 36px;
    height: 4px;
    margin: 4px 0;
    background: rgb(0, 0, 0);
    z-index: 100;
}
.responsive-menu {
    display: none;
}
.navlist2 {
    background: #fff;
    float: left;
    font-family: 'Kreon', serif;
    height: 50px;
    position: relative;
    display: block;
    color: #333333;
    width: 250px;
}
.navlist2:hover {
    color: #7defce;
}
.expand {
    display: block !important;
}
/*----header style end----*/

section {
    color: white;
    display: table;
    font-family: 'Kreon', serif;
    font-size: 30;
    -webkit-transition: 1s ease;
    width: 100%;
}
/* Document style */
/* Links */

a {
    color: #ee857d;
    text-decoration: none;
}
a:hover {
    color: #7defce;
}
section {
    overflow: auto;
}
/* Simple slideshow (not resposive - yet) */

.slideshow-wrapper {
    height: 80%;
    overflow: hidden;
    width: 400%;
    /* 710 * 4 */
    
    -webkit-animation: slideshow 20s infinite;
    -webkit-animation-delay: 3s;
}
.slideshow-wrapper:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
.slide-image {
    width: 25%;
    display: inline-block;
    margin-right: 0px;
    position: relative;
    overflow: hidden;
    background: white;
    float: left;
}
.slide-image img {
    width: 100%;
    margin-top: 180px;
    background-color: white;
    display: block;
    -webkit-filter: brigthness(100%);
    /*  -webkit-transition: opacity 0.3s ease-in-out; */
}
/* Animation */

@-webkit-keyframes slideshow {
    0% {
        margin-left: -12%;
    }
    25% {
        margin-left: -102%;
    }
    50% {
        margin-left: -202%;
    }
    75% {
        margin-left: -302%;
    }
}
/* Media queries */

@media only screen and (max-width: 100%) {
    .slideshow-wrapper {
        width: 53%;
    }
    .slideshow-wrapper .slides .slide-image {
        width: 52%;
    }
    section {
        padding: 0.5em;
    }
}
@media only screen and (max-width: 52%) {
    .slideshow-wrapper {
        width: 40%;
    }
    .slideshow-wrapper .slides .slide-image {
        width: 39%;
    }
}
/*@media (min-width:750px){
.slideshow-wrapper { 
     height: 600px;
}
}

@media (max-width:749px){

        .slideshow-wrapper { 
     height: 800px;
}
}
*/
/*---animation for header end----*/
/*---hover on imges start---*/

* {
    -webkit-box-sizing: border-box;
}
.slide-image:hover .caption {
    -webkit-transform: translateY(-100%);
    /* -webkit-animation-play-state: paused; */
}
.slide-image img:hover {
    opacity: 0.75;
    -webkit-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: alpha(opacity=75);
    /*     -webkit-filter: brigthness(100%)*/
}
.caption {
    position: absolute;
    top: 100%;
    width: 100%;
    font-size: 36px;
    padding: 1em;
    background: rgba(255, 255, 255, 0.75);
    z-index: 1;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
}
.title_slide,
.author {
    display: block;
    color: #333;
    text-decoration: none;
    line-height: 1.5;
}
.author {
    font-style: italic;
    font-size: 0.9em;
    float: right;
}
.author:before {
    color: #000;
    content: 'by';
    margin-right: 0.2em;
}

/*---hober on images end---*/

section:nth-of-type(2n) {
    background-color: pink;
    height: 10px;
}
.s2 {
    background-color: white;
}

.m2_1:hover .caption {
    -webkit-transform: translateY(-100%);
    /* -webkit-animation-play-state: paused; */
}
.m2_1 img:hover {
    opacity: 0.75;
    -webkit-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: alpha(opacity=75);
    /*     -webkit-filter: brigthness(100%)*/
}
@media (min-width: 500px) {
    .m2_1 img {
        margin-left: 3%;
        margin-top: 10%;
        padding: 0px;
        float: left;
        width: 45%;
    }
    .m2_2 img {
        margin-right: 3%;
        float: right;
        padding: 0%;
        width: 45%;
        height: 20%;
        margin-top: 10%;
    }
    .m4_1 img {
        margin-top: 5%;
        margin-left: 3%;
        float: left;
        width: 45%;
    }
    .m4_2 img {
        margin-top: 5%;
        margin-right: 3%;
        float: right;
        width: 45%;
    }
    .lineM3 img {
        width: 31%;
        margin-top: 5%;
        padding: 0;
    }
    .m3_1 img {
        margin-left: 3%;
        float: left;
    }
    .m3_2 img {
        margin-left: 1%;
        float: left;
    }
    .m3_3 img {
        margin-right: 2%;
        float: right;
    }
}
@media (max-width: 500px) {
    .m2_1 img,
    .m4_1 img,
    .m3_1 img,
    .m3_2 img {
        margin-top: 5%;
        margin-left: -1px;
        float: left;
        width: 100%;
        padding: 0px;
    }
    .m2_2 img,
    .m4_2 img,
    .m3_3 img {
        margin-top: 5%;
        float: left;
        width: 100%;
    }
}
.text-vcenter {
    display: table-cell;
    vertical-align: middle;
}
/*---css for article1---*/

.wrapper {
    max-width: 1280px;
    width: 100%;
    margin: auto;
}
.grid {
    width: 100%;
}
.icons img {
    max-width: 60px;
    width: 50%;
    padding: 3%;
    float: right;
    margin-right: 4%;
}
.big_image img {
    background-color: white;
    width: 70%;
    margin-left: 16%;
}
@media (max-width: 780px) {
    h1 {
        font-family: 'Kreon', serif;
        color: #555555;
        font-size: 28pt;
        width: 360px;
        margin-top: 55%;
        margin-left: 16%;
    }
    .big_image img {
        width: 100%;
        margin-left: 0%;
    }
    .para,
    .para3 {
        font-size: 14pt;
        margin-left: 5%;
    }
    .oneletter {
        font-size: 20pt;
    }
    .right_ar img,
    .left_ar img {
        display: none;
    }
    .left_img img {
        width: 100%;
        margin-top: 3%;
        float: left;
    }
    .mid_img img {
        width: 70%;
        margin-top: 3%;
        float: left;
        margin-left: 16%;
    }
    .right_img img {
        width: 70%;
        margin-top: 3%;
        float: left;
        margin-left: 18%;
    }
    /*--for article 2--*/
    
    .two_pic {
        margin-top: 3%;
    }
    .two_1 img,
    .two_2 img {
        float: left;
        margin-left: 0%;
        width: 100%;
        margin-top: 2%;
    }
    .two_3 img,
    .two_4 img,
    .two_5 img,
    .two_6 img {
        width: 100%;
        margin-left: 0%;
        float: left;
        margin-top: 2%;
    }
    .para2 {
        float: middle;
        width: 100%;
        font-size: 14pt;
        color: #555555;
        margin-top: 30px;
        margin-left: 5%;
    }
    .left_img2 img,
    .mid_img2 img,
    .right_img2 img {
        width: 70%;
        float: left;
        margin-left: 18%;
        margin-top: 2%;
    }
}
@media (min-width: 780px) {
    h1 {
        font-family: 'Kreon', serif;
        color: #555555;
        font-size: 36pt;
        width: 800px;
        margin-top: 30%;
        margin-left: 16%;
    }
    .para {
        float: middle;
        width: 71%;
        font-size: 18pt;
        color: #555555;
        margin-top: 30px;
        margin-left: 16%;
        font-family: 'Kreon', serif;
    }
    .oneletter {
        font-size: 28pt;
    }
    .left_img img {
        width: 22%;
        margin-top: 7%;
    }
    .mid_img img {
        margin-left: 40%;
        margin-top: -16%;
        width: 24%;
    }
    .right_img img {
        width: 22%;
        margin-right: 12%;
        float: right;
        margin-top: -24%;
        /* margin-top: -22%; */
    }
    /* ---for artocle2 --- */
    
    .two_pic {
        margin-top: 3%;
    }
    .two_1 img {
        float: left;
        margin-left: 16%;
        width: 34%;
        height: 16%;
    }
    .two_2 img {
        margin-right: 14%;
        float: right;
        width: 34%;
        height: 16%;
    }
    .two_3 img {
        width: 33%;
        margin-left: 16%;
        float: left;
    }
    .para2 {
        width: 35%;
        font-size: 18pt;
        color: #555555;
        margin-top: -4%;
        font-family: 'Kreon', serif;
        float: right;
        margin-right: 14%;
    }
    .two_4 img {
        width: 35%;
        float: left;
        margin-left: 16%;
    }
    .para3 {
        float: middle;
        width: 70%;
        font-size: 18pt;
        color: #555555;
        margin-top: 0%;
        margin-left: 16%;
        font-family: 'Kreon', serif;
    }
    .two_5 img {
        width: 35%;
        float: right;
        margin-right: 13%;
    }
    .two_6 img {
        width: 33%;
        margin-right: 15%;
        float: right;
        margin-top: 1%;
    }
    .left_img2 img {
        width: 22%;
        margin-top: 3%;
        margin-left: 2%;
    }
    .mid_img2 img {
        width: 22%;
        float: left;
        margin-left: 40%;
        margin-top: -22.4%;
    }
    .right_img2 img {
        width: 22%;
        float: right;
        margin-right: 14%;
        margin-top: -22.4%;
    }
}
.left_ar img {
    float: left;
    margin-top: 10%;
    margin-left: 5%;
    width: 9%;
}
.right_ar img {
    float: right;
    margin-top: 10%;
    width: 9%;
    margin-right: 3%;
}
.down {
    background: #ee857d;
    color: #fff;
    display: block;
    width: 100%;
    height: 100px;
    margin-top: 8%;
}
/*---for article2---*/

.name,
.email,
.password {
    font-family: 'Kreon', serif;
    font-size: 24pt;
}
.signup_text {
    float: left;
    margin-left: 20%;
    margin-top: 20%;
}
h2 {
    width: 600px;
    font-family: 'Kreon', serif;
    font-size: 24pt;
    color: #555555;
}
.tw_icon3 img {
    float: right;
    margin-right: 120px;
    width: 45px;
    margin-top: 15px;
}
.fb_icon3 img {
    float: right;
    margin-right: -100px;
    width: 45px;
    margin-top: 15px;
}
.email_icon3 img {
    float: right;
    margin-right: -155px;
    width: 45px;
    margin-top: 15px;
}
h3 {
    font-family: 'Stalemate', cursive;
    font-size: 45pt;
    color: #7defce;
    float: left;
    margin-left: 10%;
    margin-top: 5px;
}
h3:hover {
    color: #fff;
}
.signup_top {
    margin-top: 100px;
}
.main_foot {
    width: 100%;
    height: 100px;
    margin-top: 10%;
    background-color: #ee857d;
    z-index: 100;
}